{% extends 'base.html' %}
{% load static %}

{% block titel %}iKart Login{% endblock titel %}
{% block head %}
<style>
    .helptext{
        color: rgb(3, 64, 64);
    }
    ul{
        color: rgb(3, 64, 64);
    }
    p label{
        color: #03398f;
    }
</style>
{% endblock head %}

{% block body1 %}

    <div class="container-fluid">
        <h1 style="text-align:center;color: #1c60a7;font-size: 2rem;">Login Page</h1>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 p-2 mx-2 my-2 text-center" style="background-color: rgb(191, 191, 211)">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Login" class="btn btn-primary btn-sm">
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock body1 %}