{% extends 'base.html' %}
{% load static %}
{% block titel %}iKart{% endblock titel %}
{% block head %}{% endblock head %}

{% block body1 %}

<div class="conatiner my-4 text-center" style="justify-content: space-between;">
    <div class="row">
        <div class="col " style="display: flex; font-size: .8rem; padding: 20px;justify-content: space-between;">
            {% for product in product %}
            <div style="text-align: center;">
                <a href="{% url 'order' product.id %}" style="text-decoration: None">
                    <img src="{{product.product_img.url}}" class="img-thumbnail" alt="..."
                        style="height: 35vh;margin: 0px">
                    <h5 class="card-title" style="font-size: 1rem;">{{product.titel}}</h5><span></span>
                    <p class="card-text" style="font-size: 1rem;">₹{{product.discount_price}}</p>
                </a>
            </div>
            {% endfor %}            
        </div>
    </div>
</div>
{% endblock body1 %}